:root {
      --biru: #002B6A;
      --kuning: #F7941E;
      --abu: #C1BDBD;
      --abu2: #939393;
      --background: #ECECEC;
      --font-family: "Roboto", serif;
}

/* Reset and general styling */
body {
    font-family: "Roboto Slab", serif;
    background-color: var(--background) !important;
    position: relative; /* Hindari efek samping pada scrolling vertikal */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Mencegah scroll horizontal */
    overflow-y: auto;   /* Pastikan scroll vertikal hanya muncul bila diperlukan */
}

/* NAVBAR */
.hero .navbar {
      background-color: var(--biru);
}

.hero .spanbps{
      color: white;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 400;
      font-style: italic;
}

.hero .navbar-brand {
      margin-left: -5rem;
      
}

.hero .spannama {
      color: white;
      font-size: 1rem;
      float: right;
      position: absolute;
      right: 40px; /* Jarak dari kanan */
      top: 50%; /* Vertikal tengah */
      transform: translateY(-50%);
}

.hero .spankembali {
      color: white;
      font-size: 1rem;
      float: right;
      position: absolute;
      right:200px; /* Jarak dari kanan */
      top: 48%; /* Vertikal tengah */
      transform: translateY(-50%);
}

.hero .person {
      margin-top: -0.3rem;
}

.hero ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Footer */
footer {
      background-color: var(--biru);
      margin-top: 20rem;
      height: auto;
      color: white;
}

footer .row .f1 span {
      font-size: 0.9rem;
      line-height: 1.5;
}

footer .row .f2 span {
      font-size: 0.9rem;
      line-height: 1.5;
      margin-left: -1rem;
}

footer .row .f3 span {
      font-size: 0.9rem;
      line-height: 1.5;
      margin-left: -10rem;
}

footer .row .f2 a {
      font-size: 0.8rem;
      text-decoration: none;
      color: white;
      margin-left: -1rem;
}

footer .row .f3 a {
      font-size: 0.8rem;
      text-decoration: none;
      color: white;
      margin-left: -10rem;
}

footer .row .f4 a {
      font-size: 0.8rem;
      text-decoration: none;
      color: white;
      margin-left: -15rem;
}

footer .row .f5 a {
      font-size: 0.8rem;
      text-decoration: none;
      color: white;
      margin-left: -6rem;
}

footer .row .f6 a {
      font-size: 0.8rem;
      text-decoration: none;
      color: white;
}

/* MODAL */
.modal .modal-footer a {
      background-color: var(--kuning);
      border: none;
      font-size: 1rem;
}

.modal .modal-title {
      font-size: 1rem;
}

.modal .modal-body {
      font-size: 0.9rem;
}

/* Utama */
.utama .row {
      margin-top: 3rem;
}

.utama h3 {
      margin-top: 2rem;
      text-align: center;
      font-size: 2rem;
      color: var(--biru);
      font-weight: 500;
}

.utama .row form .form-control {
      border: 1px solid black;
      border-radius: 5px;
      width: 90%;
}

.utama .row form button,
.utama .row form a {
      background-color: var(--kuning);
      border: none;
      color: white;
      padding: 8px 30px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      margin-top: 5rem;
      float: right;
}

.utama .row form button:hover {
      background-color: var(--biru);
}

.utama .row form label {
      font-size: 1rem;
      color: var(--biru);
      font-weight: 500;
}