:root {
      --biru: #002B6A;
      --kuning: #F7941E;
      --abu: #C1BDBD;
      --abu2: #939393;
      --background: #ECECEC;
      --font-family: "Roboto", serif;
}

/* Reset and general styling */
body {
    font-family: "Roboto Slab", serif;
    background-color: var(--background) !important;
    position: relative; /* Hindari efek samping pada scrolling vertikal */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Mencegah scroll horizontal */
    overflow-y: auto;   /* Pastikan scroll vertikal hanya muncul bila diperlukan */
}

/* Masuk */
.masuk .row {
      margin-top: 10rem;
}

.masuk .card {
      background-color: var(--background);
      border: none;
      width: auto;
      height: 100%;
}

.masuk .card #card-masuk {
      background-color: var(--biru);
      color: white;
      border-radius: 15px;
}

.masuk .card #card-masuk h5 {
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      margin-top: 1rem;
}

.masuk .card #card-masuk .span-masuk {
      margin-left: 1.4rem;
      font-size: 0.9rem;
}

.masuk .card #card-masuk .a-daftar {
      color: white;
      font-weight: bold;
      text-decoration: none;
}

.masuk .card #card-masuk .red-star {
      color: red;
      font-size: 24px;
}

.masuk form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.masuk form #tombol-masuk {
  background-color: var(--kuning);
  border: none;
  color: white;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.masuk .row .logo {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.masuk .row img {
  display: block;
  margin: auto;
  width: 100%;
}

.masuk .row .tulisan {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.masuk .row h3 {
      font-size: 2rem;
      word-spacing: 10px;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
}

/* DAFTAR */
.daftar .row {
      margin-top: 5rem;
}

.daftar #card-logo {
      margin-top: 4rem;
}

.daftar .card {
      background-color: var(--background);
      border: none;
      width: auto;
      height: 100%;
}

.daftar .card #card-masuk {
      background-color: var(--biru);
      color: white;
      border-radius: 15px;
}

.daftar .card #card-masuk h5 {
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      margin-top: 1rem;
}

.daftar .card #card-masuk .span-masuk {
      margin-left: 1.4rem;
      font-size: 0.9rem;
}

.daftar .card #card-masuk .a-daftar {
      color: white;
      font-weight: bold;
      text-decoration: none;
}

.daftar .card #card-masuk .red-star {
      color: red;
      font-size: 24px;
}

.daftar form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.daftar form #myBtn {
  background-color: var(--kuning);
  border: none;
  color: white;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.daftar .row .logo {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.daftar .row img {
  display: block;
  margin: auto;
  width: 100%;
}

.daftar .row .tulisan {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.daftar .row h3 {
      font-size: 2rem;
      word-spacing: 10px;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
}

/* MODAL */
.modal .modal-footer a {
      background-color: var(--kuning);
      border: none;
      font-size: 1rem;
}

.modal .modal-title {
      font-size: 1rem;
}

.modal .modal-body {
      font-size: 0.9rem;
}

/* HERO */
.hero .navbar {
      background-color: var(--biru);
      width: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
}

.hero .navbar .spanbps{
      color: white;
      text-transform: uppercase;
      font-size: 1.1rem;
      font-weight: 400;
      font-style: italic;
      margin-left: -1rem;
      margin-right: auto; /* Memastikan elemen berada di paling kiri */
}

.hero .navbar .logo {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.hero .navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 50px;
}

.hero .navbar a:hover {
  color: black;
}

/* Hamburger menu styles */
.hero .hamburger {
  display: none;
  font-size: 24px;
  color: white;
  background-color: inherit;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.hero .hamburger:focus {
  outline: none;
}

.hero .navbar-content {
  display: flex;
}

.hero .navbar .navbar-content a {
      font-size: 1.1rem;
}

 /* UTAMA */
 .utama .row {
      margin-top: 5rem;
}

.utama .row .card {
      width: 100%;
      height: auto;
      margin: 0 auto; /* Pusatkan secara horizontal */
      display: flex;
      flex-direction: column; /* Mengatur elemen di dalam card secara vertikal */
      justify-content: center; /* Pusatkan konten di dalam card secara vertikal */
      align-items: center; /* Pusatkan konten secara horizontal */
      background-color: var(--biru);
      border-radius: 15px;
}

.utama .row .card #card-masuk {
      color: white;
      border-radius: 15px;
      padding: 3rem;
}

.utama .row .card #card-masuk .card-title {
      text-align: justify;
      font-size: 2rem;
      font-weight: 500;
      margin-top: 1rem;
      margin-bottom: 1rem ;
}

.utama .row .card #card-masuk span {
      font-size: 1rem;
      color: var(--abu);
      margin-top: 1rem;
}

/* POINT */
.point .row {
      margin-top: 5rem;
}

.point .row .card {
      width: 100%;
      height: 100%;
      margin: 0 auto; /* Pusatkan secara horizontal */
      display: flex;
      flex-direction: column; /* Mengatur elemen di dalam card secara vertikal */
      justify-content: center; /* Pusatkan konten di dalam card secara vertikal */
      align-items: center; /* Pusatkan konten secara horizontal */
        text-align: center;
}

.point .row .card-header,
.point .row .card-footer{
      background-color: var(--biru);
      color: white;
      width: 100%;     
      font-size: 1.1rem;
}

.point .row .card-body .card-text {
      color: var(--abu2);
      margin-top: 2rem;
      font-size: 1.1rem;
}

.point .row .card-body a {
      background-color: var(--kuning);
      border: none;
      color: white;
      font-size: 1.1rem;
      padding: 6px 15px;
      margin-top: 1rem;
}

.point .row .card-body a:hover {
      background-color: var(--biru);
}

/* FOOTER */
footer {
      background-color: var(--biru);
      margin-top: 20rem;
      height: auto;
      color: white;
}

footer .row .f1 span {
      font-size: 1rem;
}

footer .row .f2 span,
footer .row .f2 a {
      font-size: 1rem;
      margin-left: -0.1rem;
      text-decoration: none;
      color: white;
}

footer .row .f3 span,
footer .row .f3 a {
      font-size: 1rem;
      margin-left: -5rem;
      text-decoration: none;
      color: white;
}

footer .row .f4 span,
footer .row .f4 a {
      font-size: 1rem;
      margin-left: -8rem;
      text-decoration: none;
      color: white;
}

footer .row .f5 span,
footer .row .f5 a {
      font-size: 1rem;
      margin-left: auto;
      text-decoration: none;
      color: white;
}

footer .row .f6 span,
footer .row .f6 a {
      font-size: 1rem;
      margin-left: auto;
      text-decoration: none;
      color: white;
}

footer .row #small {
      font-size: 1.2rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
}